@{
    Layout = null;
}

<aside id="block_latest_headlines" class="block">
    <h3 class="block_title">Latest Headlines</h3>
    <div class="content">
        <ul>
            <li class="first"><a href="#">Integer rutrum ante eu lacus.</a></li>
            <li><a href="#">Vestibulum libero nisl.</a></li>
            <li><a href="#">Scelerisque eget, malesuada at, neque.</a></li>
            <li><a href="#">Vivamus eget nibh.</a></li>
            <li><a href="#">Etiam cursus leo vel metus.</a></li>
            <li><a href="#">Nulla facilisi. Aenean nec eros.</a></li>
            <li class="last"><a href="#">Vestibulum ante ipsum.</a></li>
        </ul>
        <p><a href="#" class="view_all"><span><span>All News</span></span></a></p>
    </div>
</aside>
