@{
    Layout = null;
}
<aside id="block_front_slider" class="block">
    <div class="content ad-gallery">
        <div class="ad-image-wrapper"></div>
        <div class="ad-controls"></div>
        <div class="ad-nav">
            <div class="ad-thumbs">
                <ul class="ad-thumb-list">

                    <li><a href="images/content/front_slider_1.jpg"><img src="images/content/front_slider_1_thumb.jpg" title="Aenean auctor wisi et urna" alt="Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac..." /></a></li>
                    <li><a href="images/content/front_slider_2.jpg"><img src="images/content/front_slider_2_thumb.jpg" title="Ut pharetra augue nec augue." alt="Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede..." /></a></li>
                    <li><a href="images/content/front_slider_3.jpg"><img src="images/content/front_slider_3_thumb.jpg" title="Nam elit agna,endrerit sit amet, tincidunt." alt="Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac..." /></a></li>
                    <li><a href="images/content/front_slider_4.jpg"><img src="images/content/front_slider_4_thumb.jpg" title="Donec eget tellus non erat lacinia fermentum." alt="Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede..." /></a></li>
                    <li><a href="images/content/front_slider_5.jpg"><img src="images/content/front_slider_5_thumb.jpg" title="Aenean auctor wisi et urna" alt="Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac..." /></a></li>
                    <li><a href="images/content/front_slider_6.jpg"><img src="images/content/front_slider_6_thumb.jpg" title="Ut pharetra augue nec augue." alt="Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede..." /></a></li>
                    <li><a href="images/content/front_slider_7.jpg"><img src="images/content/front_slider_7_thumb.jpg" title="Aenean auctor wisi et urna" alt="Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac..." /></a></li>
                    <li><a href="images/content/front_slider_8.jpg"><img src="images/content/front_slider_8_thumb.jpg" title="Nam elit agna,endrerit sit amet, tincidunt." alt="Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac..." /></a></li>
                    <li><a href="images/content/front_slider_9.jpg"><img src="images/content/front_slider_9_thumb.jpg" title="Donec eget tellus non erat lacinia fermentum." alt="Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede..." /></a></li>
                    <li><a href="images/content/front_slider_10.jpg"><img src="images/content/front_slider_10_thumb.jpg" title="Aenean auctor wisi et urna" alt="Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac..." /></a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
