@{
    Layout = null;
}

<div id="block_content_top_tabs" class="block">
    <ul>
        <li><a href="#block_video"><span class="bg">Video</span></a></li>
        <li><a href="#block_opinions"><span class="bg">Opinions</span></a></li>
        <li><a href="#block_extra"><span class="bg">Extra</span></a></li>
        <li><a href="#block_poll"><span class="bg">Poll</span></a></li>
    </ul>
    <aside id="block_video" class="content">
        <div class="video"></div>
        <ul>
            <li class="vimeo"><a href="http://vimeo.com/36597329"></a></li>
            <li class="vimeo"><a href="http://vimeo.com/36597204"></a></li>
            <li class="vimeo"><a href="http://vimeo.com/36597088"></a></li>
            <li class="vimeo"><a href="http://vimeo.com/36596665"></a></li>
            <li class="vimeo"><a href="http://vimeo.com/36597718"></a></li>
            <li class="vimeo"><a href="http://vimeo.com/36597442"></a></li>
        </ul>
        <p><a href="#" class="view_all"><span><span>All Videos</span></span></a></p>
    </aside>
    <aside id="block_opinions" class="content">
        <ul>
            <li>
                <article>
                    <div class="photo"><a href="#"><img src="images/content/opinions_1.jpg" alt="Photo" /></a></div>
                    <div class="details">
                        <h4 class="title"><a href="#">Donec porta diam eu massa dictum elementum velit.</a></h4>
                        <p class="date">
                            <time datetime="2012-01-22">Jan 22, 2012</time>
                            <span class="comments_count"><a href="#">27</a></span>
                        </p>
                    </div>
                    <p class="text">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit...</p>
                    <p class="text"><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
                </article>
            </li>
            <li class="last">
                <article>
                    <div class="photo"><a href="#"><img src="images/content/opinions_2.jpg" alt="Photo" /></a></div>
                    <div class="details">
                        <h4 class="title"><a href="#">Quisque diam lorem, interdum vitae, dapibus ac..</a></h4>
                        <p class="date">
                            <time datetime="2012-01-24">Jan 24, 2012</time>
                            <span class="comments_count"><a href="#">19</a></span>
                        </p>
                    </div>
                    <p class="text">Sed laoreet aliquam leo. Ut tellus tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna...</p>
                    <p class="text"><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
                </article>
            </li>
        </ul>
    </aside>
    <aside id="block_extra" class="content">
        <ul>
            <li>
                <article>
                    <p><a href="#"><img src="images/content/extra_1.jpg" alt="Photo" /></a></p>
                    <h4 class="title"><a href="#">Nam elit agna, endrerit sit amet.</a></h4>
                    <p class="date">
                        <time datetime="2012-01-14">Jan 14, 2012</time>
                        <span class="comments_count"><a href="#">8</a></span>
                    </p>
                    <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet dipiscing aliquet, consectetuer...</p>
                    <p><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
                </article>
            </li>
            <li class="last">
                <article>
                    <p><a href="#"><img src="images/content/extra_2.jpg" alt="Photo" /></a></p>
                    <h4 class="title"><a href="#">Donec porta diam eu massa.</a></h4>
                    <p class="date">
                        <time datetime="2012-01-14">Jan 14, 2012</time>
                        <span class="comments_count"><a href="#">3</a></span>
                    </p>
                    <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula...</p>
                    <p><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
                </article>
            </li>
        </ul>
    </aside>
    <aside id="block_poll" class="content">
        <form action="#" method="post">
            <h3>Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac?</h3>
            <div id="edit-choice">
                <div class="form-item">
                    <input type="radio" value="1" name="choice" id="edit-choice-1" checked />
                    <label for="edit-choice-1">Mauris accumsan</label>
                </div>
                <div class="form-item">
                    <input type="radio" value="2" name="choice" id="edit-choice-2" />
                    <label for="edit-choice-2">Nulla vel diam</label>
                </div>
                <div class="form-item">
                    <input type="radio" value="3" name="choice" id="edit-choice-3" />
                    <label for="edit-choice-3">Sed in lacus ut enim adipiscing</label>
                </div>
                <div class="form-item">
                    <input type="radio" value="4" name="choice" id="edit-choice-4" />
                    <label for="edit-choice-4">In pede mi, aliquet sit</label>
                </div>
                <div class="form-item">
                    <input type="radio" value="5" name="choice" id="edit-choice-5" />
                    <label for="edit-choice-5">Amet, euismod in</label>
                </div>
                <div class="form-item">
                    <input type="radio" value="6" name="choice" id="edit-choice-6" />
                    <label for="edit-choice-6">Mauris accumsan</label>
                </div>
                <div class="form-item">
                    <input type="radio" value="7" name="choice" id="edit-choice-7" />
                    <label for="edit-choice-7">Nulla vel diam</label>
                </div>
            </div>
            <button type="submit"><span class="view_all"><span><span>Vote</span></span></span></button>
            <a href="#" class="view_all"><span><span>Results</span></span></a>
        </form>
    </aside>
</div>
